name: Daily Lottery Update

on:
  schedule:
    - cron: '0 14 * * *' # Runs at 6:00 AM PST daily (14:00 UTC)
  workflow_dispatch:      # Allows you to click a button to run it manually

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Dashboard Script
      run: python dashboard.py

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./
        keep_files: true
        publish_branch: gh-pages
